<header class="site-header">
  <a class="site-header__name" href="/">{{ site.name }}</a>
  <nav class="site-header__nav">
    <ul>
      {% for item in site.nav %}
      <li><a href="{{ item.url }}" {% if item.url == page.url %}aria-current="page"{% endif %}>{{ item.label }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>
